<div class="grid-item panel-arm">
    <h2>机械臂通讯</h2>

    <div class="control-group">
        <h4>发送视觉数据</h4>
        <div class="switch-container">
            <label for="send-blob-switch">发送色块位置</label>
            <label class="switch">
                <input type="checkbox" id="send-blob-switch">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="switch-container">
            <label for="send-tag-switch">发送AprilTag位置</label>
            <label class="switch">
                <input type="checkbox" id="send-tag-switch">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div class="advanced-controls">
        <div class="logs-group">
            <div class="log-container">
                <h4>发送日志</h4>
                <div id="vision-send-log" class="log-box"></div>
            </div>
            <div class="log-container">
                <h4>接收日志</h4>
                <div id="arm-log-received" class="log-box"></div>
            </div>
        </div>
    </div>
</div>